<div class="modal-header">
  <h4 class="modal-title">{{ credential?.serviceName }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body">
  <div class="mb-3">
    <label for="serviceName" class="form-label">Service Name</label>
    <input type="text" id="serviceName" class="form-control" [(ngModel)]="editedCredential.serviceName" [readonly]="!isEditMode" />
  </div>

  <div class="mb-3">
    <label for="serviceUsername" class="form-label">Username</label>
    <input type="text" id="serviceUsername" class="form-control" [(ngModel)]="editedCredential.serviceUsername" [readonly]="!isEditMode" />
  </div>

  <div class="mb-3">
    <label for="servicePassword" class="form-label">Password</label>
    <div class="input-group">
      <input [type]="isPasswordVisible ? 'text' : 'password'" id="servicePassword" class="form-control" [(ngModel)]="editedCredential.servicePassword" [readonly]="!isEditMode" />
      <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
        {{ isPasswordVisible ? 'Hide' : 'Show' }}
      </button>
      <button class="btn btn-outline-secondary" type="button" (click)="copyPasswordToClipboard()">
        Copy
      </button>
    </div>
  </div>

  <!-- Password Generator (Visible in Edit Mode Only) -->
  <div *ngIf="isEditMode" class="mb-3">
    <app-password-generator (passwordGenerated)="onPasswordGenerated($event)"></app-password-generator>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger me-auto" (click)="openDeleteConfirmation()">Delete</button>


  <button *ngIf="!isEditMode" type="button" class="btn btn-secondary" (click)="toggleEditMode()">Edit</button>
  <button *ngIf="isEditMode" type="button" class="btn btn-primary" (click)="update()">Update</button>
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
</div>
