<div class="modal-header">
  <h4 class="modal-title">Create New Credential</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label for="serviceName" class="form-label">Service Name</label>
    <input type="text" id="serviceName" class="form-control" [(ngModel)]="credential.serviceName" required />
  </div>

  <div class="mb-3">
    <label for="serviceUsername" class="form-label">Username</label>
    <input type="text" id="serviceUsername" class="form-control" [(ngModel)]="credential.serviceUsername" required />
  </div>

  <div class="mb-3">
    <label for="servicePassword" class="form-label">Password</label>
    <div class="input-group">
      <input type="text" id="servicePassword" class="form-control" [(ngModel)]="credential.servicePassword"/>
    </div>
    <app-password-generator (passwordGenerated)="onPasswordGenerated($event)"></app-password-generator>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="onCreate()">Create</button>
</div>
